body{
    font-family: 'Poppins', sans-serif;
}
.welcome{
    font-size: 40px;
    text-align: left;
    width: 50%;
    color: #212034;
}
.top-part{
    display: flex;
    padding-left: 50px;
    padding-right: 20px;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    margin: -10px;
    
    
}
.top-part img{
    width: 100%;
}
.separation{
    color: rgb(253, 70, 49);
    font-size: 100px;
}
#details{
    font-weight: lighter;
    font-size: x-large;

}
#bgstreet{
    border: solid 2px rgb(253, 70, 49);
    padding-left: 10px;padding-right: 10px;
    border-radius: 15px;
    box-shadow: 0 3px 5px #212034;
}

.container{
    position: fixed;left: 50px;top: 20px;
    display: inline-block;
    cursor: pointer;
    
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #212034;
    margin: 5px 0;

  }
